*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* reset*/

.flex-set{
	display: flex;
}
.padding-class{
	padding:20px;
}
img{
	
	height: 500px;
}
.img-flex{
	display: flex;
	justify-content: center;
	justify-content: space-around;
	align-items: center;

}
/* header */

.container{
	color: white;
	background-color: chocolate;
	justify-content: center;
	justify-content: space-around;
	align-items: center;

}

.sez{
	margin-left: 5px;
	
}

.image{
	height: 30px;
}


/*main*/


	


.articolo{
	
	flex-wrap: wrap;
	justify-content: center;
	padding: 50px;
	
}

.foto{
	
	width: calc(100% / 3);
	padding: 50px 20px;
}

