*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* reset*/

.flex-set{
	display: flex;
}
.padding-class{
	padding:20px;
}
img{
	width: 100%;
	
}
.img-flex{
	display: flex;
	justify-content: center;
	justify-content: space-around;
	align-items: center;

}
/* header */

.container{
	color: white;
	background-color: chocolate;
	justify-content: center;
	justify-content: space-around;
	align-items: center;

}

.sez{
	margin-left: 5px;
	
}

.image{
	height: 30px;
}


/*main*/


	


.articolo{
	
	flex-wrap: wrap;
	justify-content: center;
	padding: 50px;
	
}

.foto{
	
	width: calc(100% / 3);
	padding: 50px 20px;
	
	
}

.foto:hover .prima{
	display: none;
}
.foto:hover .seconda{
	display: block;
}
.seconda{
	display: none;
}
/*sconti*/
.green{
	background-color: green;
}

.red{
	background-color: red
}

.discount{
	position:absolute;
	color:white;
	bottom: 50px;
	left: 0;	
	font-size: small;
	padding: 5px;
}
.product{
	position: relative;
	
	
}

.ambiente{
	position:absolute;
	color:white;
	bottom: 50px;
	left: 40px;		
	padding: 4px;
}

.color-red{
	color: red;
}

.color-black{
	color: black;
}

/*footer*/

footer{
	background-color: black;
	color: white;
}

.azienda{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left:10% ;
}
.nome-azienda{
	font-size: large;
	text-decoration: solid;
	margin-bottom: 10px;
}

.footer-position{
	justify-content: center;
	justify-content: space-between;
	align-items: center;
}
.social{
	margin-right:10% ;

}




/*cuore*/

.cuore{
	
	position: absolute;
	top: 0;
	right: 0;
	
}

.background-cuore{
	background-color: white;
	padding: 8px;
}